# Disable graphical terminal completely
terminal_input console
terminal_output console

set timeout=15
set default=0

menuentry "ZaytoonOS" {
    multiboot2 /boot/krnl.elf
    boot
}

menuentry "Shutdown" {
    halt
}