insmod vbe
insmod gfxterm
insmod png

set gfxmode=auto
set gfxpayload=keep
terminal_output gfxterm

background_image /boot/grub/splash.png

set menu_color_normal=black/light-gray
set menu_color_highlight=light-green/black
set color_normal=black/light-gray
set color_highlight=light-green/black

set theme=none

set timeout=5
set default=0

menuentry "ZaytoonOS" {
    multiboot2 /boot/zaytoonos.elf
    boot
}

menuentry "ZaytoonOS (Debug Mode)" {
    multiboot2 /boot/zaytoonos.elf
    boot
}